@use "../../partials/mixins" as *;
@use "../../partials/variables" as *;

.video {
    &-thumbWrapper {
        display: flex;
        height: 300px;
    }
    &__img {
        min-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }

    &__description {
        padding-top: $sixteen;

    }
}

.info {
    display: flex;
    flex-direction: column;
    margin-left: $sixteen;
    margin-right: $sixteen;

    &__title {
        align-self: flex-start;
    }

    &-divider{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-bottom: 1px solid $mercury;
        padding-top: $sixteen;

        padding-bottom: $sixteen;
        @include tablet {
            justify-content: space-between;
            flex-direction: row;

        }

    }

    &__user {
        display: flex;
        margin-right: $sixteen;
    }

    &__social {
        display: flex;

    }
    
    &__commentsnum {
        margin-top: $sixteen;
        margin-bottom: $sixteen;

    }
}