@use "../../partials/mixins" as *;
@use "../../partials/variables" as *;

.video {
    &-thumbWrapper {
        display: flex;
        height: 250px;
        background-color: black;
        @include tablet {
            height: 400px;

        }
    }
    &__img {
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
        @include tablet {
            padding-left: $sixteen*2;
            padding-right: $sixteen*2;
        }
    }

    &__description {
        padding-top: $sixteen;

    }
}
