@use "../../partials/typography" as *;
@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;




.halfPage {
    @include desktop{
    display: flex;
}
    &-left {
        @include desktop{
        width: 60%;
        }
    }

}

.load-screen{
    font-size: 2.5rem;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    font-weight: 600;
}